@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
  * {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  .footer {
      margin-top: 150px;
      width: 100%;
      /* height: 200px; */
      padding: 100px 15%;
      background: #333;
      color: #efefef;
      display: flex;
      bottom: 0;
      position: static;
    }
  .footer div{
      text-align:center;
  }
  .col-2 {
      flex-grow: 2;
  }
  .footer div h3 {
      font-weight: bold;
      margin-bottom: 1;
      letter-spacing: 1px;
  }
  .col-1 a {
      display: block;
      text-decoration: none;
      color:#efefef;
      margin-bottom: 10px;
  }
  form input {
      width: 400px;
      height: 45px;
      border-radius: 5px;
      margin-top: 20px;
      margin-bottom: 40px;
      text-align: center;
      outline: none;
      border: none;
  }

  .col-2 button {
      background: transparent;
      border: 2px solid #fff;
      padding: 10px;
      color: #fff;
      border-radius: 30px;
      padding: 10px 30px;
      font-size: 15px;
      cursor: pointer;
  }

  .social-icons {
      margin-top: 30px;
  }

  .social-icons i {
      font-size: 22px;
      margin: 10px;
      cursor: pointer;
  }
  .card img{
    width:100%;
    border-radius: 10px;
  }
  .wrap{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    display: flex;
  }
  .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    border-radius: 10px;
    width: 30%;
    background: #fff;
    text-align: center;
    font-size: 16px;
    /* float:right; */
    justify-content: space-between;
    margin: 10px;
    min-height: 400px;
    flex-direction: row;
    /* max-height: 400px; */
  }
  .form-product{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    }
    .container{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .container h3 {
      font-weight: bold;
    }
    .prod-name{
    font-weight: bold;
    font-size: 20px;
}

.prod-table{
    box-shadow: #333;
    border: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100;
    display: flex;
    align-items: center;
}
